<section class="benefits">
    <div class="content-wrapper">
        <div class="benefits-checkbox">
            <form class="benefits-checkbox__infrostr" action="#" method="get">
                <p class="benefits__tittle">Инфраструктура</p>
                <label>
                    <input type="checkbox">
                    <div class="hotels-subtittle">Бассейн</div>
                </label>
                <label>
                    <input type="checkbox">
                    <div class="hotels-subtittle">Парковка</div>
                </label>
                <label>
                    <input type="checkbox">
                    <div class="hotels-subtittle">WI-FI</div>
                </label>
            </form>
            <form class="benefits-checkbox__houses" action="#" method="get">
                <p class="benefits__tittle">Тип жилья</p>
                <label>
                    <input type="checkbox">
                    <div class="hotels-subtittle">Гостиница</div>
                </label>
                <label>
                    <input type="checkbox">
                    <div class="hotels-subtittle">Мотель</div>
                </label>
                <label>
                    <input type="checkbox">
                    <div class="hotels-subtittle">Аппартаменты</div>
                </label>
            </form>
        </div>
        <div class="benefits__slider">
            <p class="benefits__tittle">Стоимость в сутки (P)</p>
            <table>
                <tr>
                    <td class="hotels-subtittle from">от <span>0</span></td>
                    <td class="hotels-subtittle to">до <span>3000</span></td>
                </tr>
            </table>
            <div class="slider nativeMultiple">
                <div class="nativeMultiple-one">
                        <input value="0" name="three" type="text" />
                </div>
            </div>
            <a href="#" class="benefits__btn hotels-subtittle">Показать</a>
        </div>
    </div>
</section>