<div class="photo-discription center">
    <p class="center-tittle">Фото и видео</p>
    <p class="center-subtittle">Не можете решиться на путешествие из-за курса? <br>
    Фотографии помогут вам забыть о политике и экономике.</p>
</div>
<section class="gallery">
    <div class="gallery__item firstpic">
        <div class="gallery__discription gallery__discription--transparent">
            <div class="gallery__discription_name">
                <p class="gallery-mainfont">Неродные просторы</p>
                <p class="gallery-picauthor">Автор фото: Борис</p>
            </div>
            <div class="gallery__discription_likes">
                <p class="gallery-mainfont">1350</p>
            </div>
        </div>
    </div>
    <div class="gallery__discription gallery__discription--gray">
        <div class="gallery__discription_name">
            <p class="gallery-mainfont">Неродные просторы</p>
            <p class="gallery-picauthor">Автор фото: Борис</p>
        </div>
        <div class="gallery__discription_likes">
            <p class="gallery-mainfont">1350</p>
        </div>
    </div>
    <div class="gallery-wrapper">
        <div class="gallery__item smallpic little1">
            <div class="gallery__discription">
               <div class="gallery__discription_name">
                <p class="gallery-mainfont">Местная растительность</p>
                <p class="gallery-picauthor">Автор фото: Сергей</p>
            </div>
            <div class="gallery__discription_likes">
                <p class="gallery-mainfont">143</p>
            </div>
        </div>
    </div>
    <div class="gallery__discription gallery__discription--gray">
       <div class="gallery__discription_name">
        <p class="gallery-mainfont">Местная растительность</p>
        <p class="gallery-picauthor">Автор фото: Сергей</p>
    </div>
    <div class="gallery__discription_likes">
        <p class="gallery-mainfont">143</p>
    </div>
</div>
</div>
<div class="gallery-wrapper">
    <div class="gallery__item smallpic little2">
    <div class="gallery__discription">
       <div class="gallery__discription_name">
        <p class="gallery-mainfont">Дорога на север</p>
        <p class="gallery-picauthor">Автор фото: Пётр</p>
    </div>
    <div class="gallery__discription_likes">
        <p class="gallery-mainfont">98</p>
    </div>
</div>
</div>
<div class="gallery__discription gallery__discription--gray">
       <div class="gallery__discription_name">
        <p class="gallery-mainfont">Дорога на север</p>
        <p class="gallery-picauthor">Автор фото: Пётр</p>
    </div>
    <div class="gallery__discription_likes">
        <p class="gallery-mainfont">98</p>
    </div>
</div>
</div>
<div class="gallery-wrapper">
    <div class="gallery__item smallpic little3">
    <div class="gallery__discription">
       <div class="gallery__discription_name">
        <p class="gallery-mainfont">Мост дьявола</p>
        <p class="gallery-picauthor">Автор фото: Антон</p>
    </div>
    <div class="gallery__discription_likes">
        <p class="gallery-mainfont">256</p>
    </div>
</div>
</div>
<div class="gallery__discription gallery__discription--gray">
       <div class="gallery__discription_name">
        <p class="gallery-mainfont">Мост дьявола</p>
        <p class="gallery-picauthor">Автор фото: Антон</p>
    </div>
    <div class="gallery__discription_likes">
        <p class="gallery-mainfont">256</p>
    </div>
</div>
</div>
</section>