<section class="popup-form">
    <div class="modal-popup">
        <button class="modal_content_close" type="button" title="Закрыть">Закрыть</button>
        <div class="modal-popup__heading">
            <p class="caption">Поиск гостиницы в седоне</p>
        </div>
        <div class="modal-popup__wrap">
            <form  class="modal-popup__form" action="#">
                <label class="datelabel">
                 Дата заезда:<input type="date" name="calendar">
             </label>
             <label class="datelabel">
              Дата выезда:<input type="date" name="calendar">
          </label>
          <div class="countlabel">
            <label class="count">
              Взрослые:
               <span class="minus adult--minus"></span>
                <input type="number" class="adult" name="adult" value="1" size="5">
                <span class="plus adult--plus"></span>
            </label>
            <label class="count">
              Дети:
               <span class="minus children--minus"></span>
                <input type="number" class="children" name="children" value="1" size="5">
              <span class="plus children--plus"></span>

            </label>
        </div>
    </form>
    <a href="#" class="btn">Найти</a>
</div>
</div>
</section>