<section class="search-items">
    <div class="search-item">
        <div class="content-wrapper">
            <div class="search-item__discription">
                <div class="search-item__img">
                    <img src="img/item1.png" alt="" width="136" height="90">
                </div>
                <div class="search-item__discription_text">
                   <p class="caption">Amara Resort & Spa</p>
                   <div class="search-item--about-hotel">
                       <div class="search-item__hotel">
                        <p class="search-subtittle">Гостиница</p>
                        <a href="#" class="search-items__more">Подробнее</a>
                    </div>
                    <div class="search-items__booking">
                        <p class="search-subtittle">От 4000 р.</p>
                        <a href="#" class="search-items__booking-btn">Забронировать</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-item__raiting">
            <div class="search-item__raiting_stars">
                <img src="img/rait.png" alt="">
            </div>
            <div class="raiting-btn">Рейтинг: 8,5</div>
        </div>
    </div>
</div>
<div class="search-item">
    <div class="content-wrapper">
        <div class="search-item__discription">
            <div class="search-item__img">
                <img src="img/item2.png" alt="" width="136" height="90">
            </div>
            <div class="search-item__discription_text">
               <p class="caption">Desert Quail Inn</p>
               <div class="search-item--about-hotel">
                   <div class="search-item__hotel">
                    <p class="search-subtittle">Мотель</p>
                    <a href="#" class="search-items__more">Подробнее</a>
                </div>
                <div class="search-items__booking">
                    <p class="search-subtittle">От 3000 р.</p>
                    <a href="#" class="search-items__booking-btn">Забронировать</a>
                </div>
            </div>
        </div>
    </div>
    <div class="search-item__raiting">
        <div class="search-item__raiting_stars">
            <img src="img/rait3.png" alt="">
        </div>
        <div class="raiting-btn">Рейтинг: 8,9</div>
    </div>
</div>
</div>
<div class="search-item">
    <div class="content-wrapper">
        <div class="search-item__discription">
            <div class="search-item__img">
                <img src="img/item3.png" alt="" width="136" height="90">
            </div>
            <div class="search-item__discription_text">
               <p class="caption">Villas at Poco Diablo</p>
               <div class="search-item--about-hotel">
                   <div class="search-item__hotel">
                    <p class="search-subtittle">Апартаменты</p>
                    <a href="#" class="search-items__more">Подробнее</a>
                </div>
                <div class="search-items__booking">
                    <p class="search-subtittle">От 2000 р.</p>
                    <a href="#" class="search-items__booking-btn">Забронировать</a>
                </div>
            </div>
        </div>
    </div>
    <div class="search-item__raiting">
        <div class="search-item__raiting_stars">
            <img src="img/rait2.png" alt="">
        </div>
        <div class="raiting-btn">Рейтинг: 9,2</div>
    </div>
</div>
</div>
</div>
</section>