<section class="search">
    <div class="content-wrapper">
        <div class="caption">Найдено: 3</div>
        <form action="#" class="searchform">
           <div class="breadcrumbs">
                <p class="breadcrumbs--tittle">Сортировка:</p>
                <p class="breadcrumbs--text breadcrumbs--active">По цене</p>
                <p class="breadcrumbs--text">По типу</p>
                <p class="breadcrumbs--text">По рейтингу</p>
            </div>
            <div class="search__arrows">
                <div class="arrow-up"></div>
                <div class="arrow-down"></div>
            </div>
        </form>
    </div>
</section>