<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <title>Отзыв</title>
</head>
<body>
    <!--=include parts/sections/header.html -->
    <main>
        <div class="container">
            <!--=include parts/blocks/wrap-mountains__img.html -->
            <div class="content-review-wrapper">
                <!--=include parts/forms/profile-form.html -->
            </div>
        </div>
    </main>
    <!--=include parts/sections/footer.html -->
    <script src="js/vendors.min.js"></script>
    <script src="js/script.min.js"></script>
</body>
</html>