<div class="attractions-check">
   <div class="review-maintittle">
    <p class="caption">Посещенные <br>достопримечательности</p>
  </div>
  <div class="attractions-check__item">
    <label>
     <input type="checkbox">
     <p class="attractions-tittle">Мост Дьявола</p>
   </label>
   <label>
     <input type="checkbox">
     <p class="attractions-tittle">Гора-колокол</p>
   </label>
   <label>
     <input type="checkbox">
     <p class="attractions-tittle">Слайд-парк</p>
   </label>
   <label>
     <input type="checkbox">
     <p class="attractions-tittle">Красные горы</p>
   </label>
 </div>
</div>