<nav class="header-nav">
	<a href="#" class="header-nav__item active">Главная</a>
	<a href="#" class="header-nav__item">Фото и видео</a>
	<a href="#" class="header-nav__item header-nav__logo"><img src="img/logo.png" alt=""></a>
	<a href="#" class="header-nav__item">Карта штата</a>
	<a href="#" class="header-nav__item">Гостиницы</a>
</nav>

<nav class="mobile-header">
	<a href="#" class="mobile-header__logo header-nav__logo"><img src="img/logo.png" alt=""></a>
	<div class="mobile-header__btn">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>
	<div class="mobile-header__dropdown">
		<button class="mobile-header__close" type="button" title="Закрыть">Закрыть</button>
		<a class="mobile-header__link" href="#">Главная</a>
		<a class="mobile-header__link"  href="#">Фото и видео</a>
		<a class="mobile-header__link" href="#">Карта штата</a>
		<a class="mobile-header__link" href="#">Гостиницы</a>
	</div>
</nav>