<div class="index-grids">
    <div class="index-grid__item blue">
        <div class="index-grid__item--wrap">
            <p class="subtittle">Настоящий городок</p>
            <p class="index-grid__number text">1</p>
            <p class="text">СЕДОНА — НЕ АТтРАКЦИОН ДЛЯ ТУРИСТОВ, ТАМ ТЕЧЕТ СВОЯ ЖИЗНЬ</p>
        </div>
    </div>
    <div class="index-grid__item index-grid__item--pic">
        <img src="img/gridpic.png" alt="">
    </div>
    <div class="index-grid__item">
        <div class="index-grid__item--wrap grid--img house">
            <img src="img/house.png" alt="">
            <p class="subtittle">Жилье</p>
            <p class="text">Рекомендуем пожить в настоящем мотеле, все как в кино!</p>
        </div>
    </div>
    <div class="index-grid__item">
        <div class="index-grid__item--wrap grid--img food">
            <img src="img/food.png" alt="">
            <p class="subtittle">Еда</p>
            <p class="text">Всегда заказывайте ФИРМЕННЫЙ БУРГЕР, Вы НЕ разочаруетесь!</p>
        </div>
    </div>
    <div class="index-grid__item">
        <div class="index-grid__item--wrap grid--img souvenirs">
            <img src="img/souvenirs.png" alt="">
            <p class="subtittle">Сувениры</p>
            <p class="text">Не только китайского, но и местного производства!</p>
        </div>
    </div>
    <div class="index-grid__item index-grid__item--pic">
        <img src="img/gridpic2.png" alt="">
    </div>
    <div class="index-grid__item blue">
        <div class="index-grid__item--wrap">
            <p class="subtittle">ТАМ ЕСТЬ Мост дьявола</p>
            <p class="index-grid__number text">2</p>
            <p class="text">Да, по нему можно пройти! Если конечно вы осмелитесь</p>
        </div>
    </div>
    <div class="index-grid__item gray">
        <div class="index-grid__item--wrap">
            <p class="subtittle">НЕБОЛЬШАЯ ПЛОЩАДЬ</p>
            <p class="index-grid__number text">3</p>
            <p class="text">ВСЕ достопримечательности находятся очень близко</p>
        </div>
    </div>
    <div class="index-grid__item gray">
        <div class="index-grid__item--wrap">
            <p class="subtittle">красивая дорога</p>
            <p class="index-grid__number text">4</p>
            <p class="text">ЕХАТЬ В СЕДОНУ ИЗ ЛАС-ВЕГАСА совсем НЕ СКУЧНО!</p>
        </div>
    </div>
    <div class="index-grid__item gray">
        <div class="index-grid__item--wrap">
            <p class="subtittle">мало туристов</p>
            <p class="index-grid__number text">5</p>
            <p class="text">Большинство едет в гранд каньон и толпится там</p>
        </div>
    </div>
</div>