<div class="review-discription center">
    <p class="center-tittle">Оставьте свой отзыв</p>
    <p class="center-subtittle">Помогите нашим отелям стать лучше! оставьте отзыв о них, <br>а также о посещенных вами достопримечательностях</p>
</div>
<div class="profile">
  <div class="profile__assessment">
    <p class="caption">Ваше общее впечатление</p>
    <label>
      <input type="radio" name="assessment">
      <p class="list-item-tittle">Скорее положительное</p>
    </label>
    <label>
      <input type="radio" name="assessment">
      <p class="list-item-tittle">Скорее отрицательное</p>
    </label>
    <label>
      <input type="radio" name="assessment">
      <p class="list-item-tittle">Затрудняюсь ответить</p>
    </label>
  </div>
  <div class="profile__blank">
    <p class="caption">Представьтесь, пожалуйста</p>
    <label>
      <p>Имя</p>
      <input class="profile__blank_input" type="text">
    </label>
    <label>
      <p>Фамилия</p>
      <input  class="profile__blank_input" type="text">
    </label>
    <label>
      <p>Отчество</p>
      <input class="profile__blank_input" type="text">
    </label>
  </div>
</div>